.container {
      margin: 40px 0;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;
}

.image {
      background-position: center;
      background-size: contain;
      border-radius: 10px;
      border: 1px solid black;
      height: 100px;
      width: 100px;
      transition: .5s;
      
      &:hover {
            box-shadow: rgba(0, 0, 0, 0.182) 0px 20px 25px -5px,
                  rgba(0, 0, 0, 0.182) 0px 10px 10px -5px;
      }
}

.file-input {
      display: none;
}

.video {
      border-radius: 10px;
      height: 100px;
      border: 1px solid black;
      width: 100px;
      display: flex;
      align-items: center;
      background-position: center;
      background-size: contain;
      transition: .5s; 

      &:hover{
            box-shadow: rgba(0, 0, 0, 0.182) 0px 20px 25px -5px,
            rgba(0, 0, 0, 0.182) 0px 10px 10px -5px;
      }
}

.btn {
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      color: white;
      transition: .5s;
      cursor: pointer;
      background-color: #373030;

      &:hover {
            transform: translateY(5px);
            background-color: #959595;
      }
}

.btn-add {
      background-color: green;

      &:hover {
            background-color: rgb(62, 104, 62);
      }
}

@media (min-width: 320px) and (max-width:480px) {

      .container {
      flex-direction: column;
      }

.btn {
margin: 5px 0;
width: 100%;
}
.image, .video {
margin: 20px 0px;
}

}