.container {

      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;
}

.image {
      border-radius: 10px;
      background-color: red;
      height: 100px;
      width: 100px;
}

.file-input {
      display: none;
}

.video {
      border-radius: 10px;
      height: 100px;
      width: 100px;
      background-color: gray;
      display: flex;
      align-items: center;
}

.btn {
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      color: white;
      cursor: pointer;
      background-color: #337AB7;

      &:hover {
            background-color: #2b608f;
      }
}