.alert {
      background-color: black;
      color: white;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
}

// set animation to move upward on this alert